


h1 {
    position: relative;
    color: rgb(255, 251, 0);
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  html {
    background-color: #4e95e6;
    font-style:italic
  }

  .contenedor-imagen {
   position:relative;
   width: 130px; 
   margin:auto;  


  }

  h2 {
    text-align:right;
  }

  td img {
    width: 33px;
  }
  